/* headbox.css */


@media screen and (min-width: 600px) and (max-width: 1023px) {
  /*? 기준 디바이스 크기 : 600px */

#wrap {
  width: 100%; min-width: 20rem;
}  

/*? headBox ---------------------------- */
#headBox { 
  position: fixed; top: 0;
  width: 100%;
  min-width: 20rem; height: 3.125rem; 
  background-color: #fff;
  box-shadow: 0 0.2rem 0.2rem #999;
  z-index: 2000;
}

.headbox_logo {
  float: left;
  width: 5.625rem; height: 2.125rem;
  margin-left: 0.9375rem; margin-top: 0.5rem;
  background-image: url("../../../img/main_page/01_smartphone/01_headbox/Hannuri_logo.png");
  background-image: url("../../../img/main_page/01_smartphone/01_headbox/Hannuri_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

  .headbox_logo a {
    display: block;
    width: 5.625rem; height: 2.125rem;
  }

.headbox_navbtn {
  float: right;
  width: 1.25rem; height: 0.9375rem;
  margin-top: 1.125rem; margin-right: 0.9375rem;
  background-image: url("../../../img/main_page/01_smartphone/01_headbox/navbtn.png");
  background-image: url("../../../img/main_page/01_smartphone/01_headbox/navbtn.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}


/* 네비게이션 박스 */
.navBox {
  display: none;
  position: absolute; top: 0;
  width: 100%; height: 27rem;
  z-index: 2100;
  background-image: url("../../../img/main_page/02_tablet/01_headbox/nav_bg.png");
  background-image: url("../../../img/main_page/02_tablet/01_headbox/nav_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.navBox_logo {
  float: left;
  width: 5.625rem; height: 2.1875rem; 
  margin-top: 0.5rem; margin-left: 0.9375rem;
  background-image: url("../../../img/main_page/01_smartphone/01_headbox/Hannuri_logo_white.png");
  background-image: url("../../../img/main_page/01_smartphone/01_headbox/Hannuri_logo_white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.navBox_navbtn {
  float: right;
  width: 1.25rem; height: 0.9375rem; 
  margin-top: 1.125rem; margin-right: 0.9375rem;
  background-image: url("../../../img/main_page/01_smartphone/01_headbox/navbtn_white.png");
  background-image: url("../../../img/main_page/01_smartphone/01_headbox/navbtn_white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.nav_contents { margin-top: 6.5rem; }
.nav_contents ul { width: 37.5rem; margin: auto; }
.nav_contents li {
  display: block; float: left;
  border-radius: 0.625rem; border: 0.1875rem solid #fff;
  margin-bottom: 1.25rem;
  text-align: center; color: #fff;
}

.nav_contents li:nth-child(1), 
.nav_contents li:nth-child(2) {
  min-width: 15.875rem; 
  height: 1.5rem;
  font-size: 1.5rem; 
  padding-top: 2.4375rem; padding-bottom: 2.4375rem;
  text-align: center;
}

.nav_contents li:nth-child(1) { 
  margin-left: 1.875rem; margin-right: 1.25rem;  
}
.nav_contents li:nth-child(2) { margin-right: 1.875rem; }

.nav_contents li:nth-child(3), 
.nav_contents li:nth-child(4), 
.nav_contents li:nth-child(5) {
  min-width: 9.625rem; 
  height: 1.25rem;
  font-size: 1.25rem; 
  padding-top: 2.5625rem; padding-bottom: 2.5625rem;
  text-align: center; margin-right: 1.875rem;
}

.nav_contents li:nth-child(3) { margin-left: 1.875rem; }
.nav_contents li:nth-child(5) { margin-right: 1.875rem; }


} /* @media screen and (min-width: 600px) and (max-width: 1023px) */