/* eventBox.css */


@media screen and (min-width: 1440px) {
  /*? 기준 디바이스 크기 : 1440px */

/*? eventBox ---------------------------- */
#eventBox {
  width: 100%;
  min-width: 37.5rem; height: 43.75rem;
}

.eventBox_title {
  width: 58.75rem;
  margin: auto;
  padding-top: 6.25rem; padding-bottom: 0.625rem; 
  font-size: 2.5rem; font-weight: 700;
}

.eventBox_bottom_text_tablet,
.eventBox_bottom_text_phone { display: none; }
.eventBox_bottom_text {
  display: block; width: 58.75rem; height: auto;
  margin: auto;
  padding-bottom: 1.875rem;
  font-size: 1.125rem;
}


/* 카드 영역 */
/** 전체 영역 */
.eventBox_card_total {
  position: relative;
  width: 58.75rem; height: 23.125rem;
  border-radius: 0.625rem;
  margin: auto; margin-bottom: 5rem;
}


/** 공통 부분 */
.eventBox_card_total > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 58.75rem; height: 23.125rem;
  border-radius: 0.625rem;
  margin: auto;
}

.eventBox_img_area {
  float: left;
  width: 39%; height: 23.125rem; 
  border-radius: 0.625rem;
}

.eventBox_content_area {
  float: right;
  width: 54%; height: 370px; 
  border-radius: 10px;
  background-color: #F1F1F1; 
}

.eventBox_card_title {
  padding-top: 2.8125rem; 
  margin-bottom: 1.375rem; margin-left: 2rem;
  font-size: 2rem; font-weight: 500;
}
.eventBox_card_contents {
  width: 80%; min-width: 23.75rem; height: 6.75rem;
  margin-left: 2.125rem;
  font-size: 1.125rem;
}

.eventBox_card_viewbtn {
  display: block;
  position: relative;
  float: left;
  margin-top: 4.375rem; margin-left: 2rem; 
  margin-right: 4%;
  width: 36%; min-width: 12.5rem; height: 3.125rem;
  border-radius: 0.5rem;
  background-color: #FED56D;
  font-size: 1.375rem; font-weight: 700;
  cursor: pointer;
}

.eventBox_card_joinbtn {
  display: block;
  position: relative;
  float: left;
  margin-top: 4.375rem;
  width: 32%; min-width: 11.25rem; height: 3.125rem;
  border-radius: 8px;
  background-color: #FBEC6B;
  font-size: 1.375rem; font-weight: 700;
}

.eventBox_card_viewbtn:active,
.eventBox_card_joinbtn:active { box-shadow: inset 0.2rem 0.2rem 0.2rem #555; }


/** 개별 부분 */  
.eventBox_card_wrap_01 > .eventBox_img_area {
  background-image: url("../../../img/main_page/03_laptop/05_eventbox/eventbox_img_01.png");
  background-image: url("../../../img/main_page/03_laptop/05_eventbox/eventbox_img_01.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.eventBox_card_wrap_02 > .eventBox_img_area {
  background-image: url("../../../img/main_page/03_laptop/05_eventbox/eventbox_img_02.png");
  background-image: url("../../../img/main_page/03_laptop/05_eventbox/eventbox_img_02.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.eventBox_card_wrap_02 { display: none; }

.eventBox_card_wrap_03 > .eventBox_img_area {
  background-image: url("../../../img/main_page/03_laptop/05_eventbox/eventbox_img_03.png");
  background-image: url("../../../img/main_page/03_laptop/05_eventbox/eventbox_img_03.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.eventBox_card_wrap_03 { display: none; }


/** 버튼 영역 */
.eventBox_nextbtn {
  position: absolute; top: 0; right: 0;
  width: 1.875rem; height: 23.125rem;

  background-image: url("../../../img/main_page/02_tablet/05_eventbox/eventbox_nextbtn.png");
  background-image: url("../../../img/main_page/02_tablet/05_eventbox/eventbox_nextbtn.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  z-index: 10;
}
.eventBox_prevbtn {
  position: absolute; top: 0; left: 0;
  width: 1.875rem; height: 23.125rem;

  background-image: url("../../../img/main_page/02_tablet/05_eventbox/eventbox_prevbtn.png");
  background-image: url("../../../img/main_page/02_tablet/05_eventbox/eventbox_prevbtn.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  z-index: 10;
}

.eventBox_nextbtn:hover {
  background-image: url("../../../img/main_page/02_tablet/05_eventbox/eventbox_nextbtn_active.png");
  background-image: url("../../../img/main_page/02_tablet/05_eventbox/eventbox_nextbtn_active.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.eventBox_prevbtn:hover {
  background-image: url("../../../img/main_page/02_tablet/05_eventbox/eventbox_prevbtn_active.png");
  background-image: url("../../../img/main_page/02_tablet/05_eventbox/eventbox_prevbtn_active.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
  
} /* @media screen and (min-width: 1440px) */