/* slidebox.css */


@media screen and (min-width: 1440px) {
  /*? 기준 디바이스 크기 : 1440px */

/*? slideBox ---------------------------- */
#slideBox {
  width: 100%;
  min-width: 64rem; height: 37.5rem;
  padding-top: 6.25rem;

  background-image: url("../../../img/main_page/03_laptop/02_slidebox/slidbox_area_01.png");
  background-image: url("../../../img/main_page/03_laptop/02_slidebox/slidbox_area_01.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/* 슬라이드 내용 */
/** 보이는 영역 */
.slideBox_wrap {
  position: relative;
  width: 58.75rem; height: 25rem;
  margin: auto;  margin-top: 100px;
  overflow: hidden;
  border-radius: 0.625rem;
}


/** 움직이는 영역 및 각 항목들 */
.slideBox_inner { width: 400%; height: 100%; }
.slideBox_inner > div { 
  float: left;
  width: 25%; height: 100%; 
  border-radius: 0.625rem;
}
.cards_img { 
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.slideBox_wrap::before{
  content: "";
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  opacity: 0.5;
  background-color: #fff;
  border-radius: 0.625rem;
}

.swipe_guide_area { display: none; }

/** 각 항목 내부 내용 */
.slideBox_title {
  position: relative;
  text-align: center;
  padding-top: 6.875rem;
  margin-bottom: 1rem;
  font-size: 2.5rem; font-weight: 700;
}

.slideBox_contents {
  position: relative;
  width: 60%; min-width: 13.75rem; height: auto;
  margin: auto; margin-bottom: 2.8125rem;
  font-size: 1.125rem;
  text-align: center;
}

.slideBox_btn {
  position: relative;
  left: 50%; transform: translateX(-50%);
  width: 13.75rem; height: 3.125rem;
  margin: auto;
  border-radius: 0.5rem;
  background-color: #FED56D;
  cursor: pointer;

  font-size: 1.375rem; text-align: center;
  font-weight: 700;
}

.slideBox_btn:active { box-shadow: inset 0.2rem 0.2rem 0.2rem #555; }


/** 좌우 버튼 */
.slideBox_nextbtn { 
  position: absolute; top: 10.3125rem; right: 0;
  width: 2.5rem; height: 5rem;
  background-image: url("../../../img/main_page/03_laptop/02_slidebox/slidebox_nextbtn.png");
  background-image: url("../../../img/main_page/03_laptop/02_slidebox/slidebox_nextbtn.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  transform: scale(1);

  transition-property: transform;
  transition-duration: 0.2s;
  } 

.slideBox_prevbtn { 
  position: absolute; top: 10.3125rem; left: 0;
  width: 2.5rem; height: 5rem;
  background-image: url("../../../img/main_page/03_laptop/02_slidebox/slidebox_prevbtn.png");
  background-image: url("../../../img/main_page/03_laptop/02_slidebox/slidebox_prevbtn.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  transform: scale(1);

  transition-property: transform;
  transition-duration: 0.2s;
  }

/* .slideBox_nextbtn:hover {
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 0.2s;
}

.slideBox_prevbtn:hover {
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 0.2s;
} */
  
} /* @media screen and (min-width: 1440px) */