/* smartphone.css */


@media screen and (max-width: 599px) {
  /*? 기준 디바이스 크기 : 320px */
 
#wrap {
  width: 100%; min-width: 20rem;
}  

/*? headBox ---------------------------- */
#headBox { 
  position: fixed; top: 0;
  width: 100%;
  min-width: 20rem; height: 3.125rem; 
  background-color: #fff;
  box-shadow: 0 0.2rem 0.2rem #999;
  z-index: 2000;
}

.headbox_logo {
  float: left;
  width: 5.625rem; height: 2.125rem;
  margin-left: 0.9375rem; margin-top: 0.5rem;
  background-image: url("../../img/main_page/01_smartphone/01_headbox/Hannuri_logo.png");
  background-image: url("../../img/main_page/01_smartphone/01_headbox/Hannuri_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

  .headbox_logo a {
    display: block;
    width: 5.625rem; height: 2.125rem;
  }

.headbox_navbtn {
  float: right;
  width: 1.25rem; height: 0.9375rem;
  margin-top: 1.125rem; margin-right: 0.9375rem;
  background-image: url("../../img/main_page/01_smartphone/01_headbox/navbtn.png");
  background-image: url("../../img/main_page/01_smartphone/01_headbox/navbtn.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}


/* 네비게이션 박스 */
.navBox {
  display: none;
  position: absolute; top: 0;
  width: 100%; height: 35rem;
  z-index: 2100;
  background-image: url("../../img/main_page/01_smartphone/01_headbox/nav_bg.png");
  background-image: url("../../img/main_page/01_smartphone/01_headbox/nav_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.navBox_logo {
  float: left;
  width: 5.625rem; height: 2.1875rem; 
  margin-top: 0.5rem; margin-left: 0.9375rem;
  background-image: url("../../img/main_page/01_smartphone/01_headbox/Hannuri_logo_white.png");
  background-image: url("../../img/main_page/01_smartphone/01_headbox/Hannuri_logo_white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.navBox_navbtn {
  float: right;
  width: 1.25rem; height: 0.9375rem; 
  margin-top: 1.125rem; margin-right: 0.9375rem;
  background-image: url("../../img/main_page/01_smartphone/01_headbox/navbtn_white.png");
  background-image: url("../../img/main_page/01_smartphone/01_headbox/navbtn_white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.nav_contents { margin-top: 6.5rem; }
.nav_contents li {
  display: block; 
  margin: auto;
  width: 70%;  min-width: 16.5rem; 
  height: 2rem; border-radius: 0.625rem;
  border: 0.1875rem solid #fff;
  margin-bottom: 0.9375rem;
  padding-top: 0.875rem; padding-bottom: 0.875rem;

  text-align: center;
  font-size: 1.375rem; color: #fff;
}



/*? slideBox ---------------------------- */
#slideBox {
  width: 100%;
  min-width: 20rem; height: 37.5rem;
  padding-top: 3.125rem;
}


/* 슬라이드 내용 */
/** 보이는 영역 */
.slideBox_wrap {
  position: relative;
  width: 100%; height: 37.5rem;
  overflow: hidden;
}
.slideBox_wrap::before{
  content: "";
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  opacity: 0.3;
  background-color: #fff;
}


/** 움직이는 영역 및 각 항목들 */
.slideBox_inner { width: 400%; height: 100%; }
.slideBox_inner > div { 
  float: left;
  width: 25%; height: 100%; 
}
.cards_img { 
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/** 스와이프 기능 안내 */
.swipe_guide_area {
  display: none;
  position: absolute;
  bottom: 130px; left: 50%;
  transform: translateX(-50%);
  width: 200px; height: 50px;
  /* background-color: #fff;  */
}
.swipe_guide_area p {
  text-align: center;
  font-size: 1.25rem;
} 
.pointer {
  display: none;
  width: 50px; height: 50px;
  float: right;
  background-image: url("../../img/main_page/01_smartphone/02_slidebox/hand-pointer.png");
  background-image: url("../../img/main_page/01_smartphone/02_slidebox/hand-pointer.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}


/** 각 항목 내부 내용 */
.slideBox_title {
  position: relative;
  text-align: center;
  padding-top: 11.0625rem; 
  margin-bottom: 0.9375rem;
  margin-left: 2rem; margin-right: 2rem;
  font-size: 2.25rem; font-weight: 700;
}

.slideBox_contents {
  position: relative;
  width: 75%; min-width: 13.75rem; height: auto;
  margin: auto; margin-bottom: 2.1875rem;
  font-size: 1rem; 
  text-align: center;
}

.slideBox_btn {
  position: relative;
  width: 13.75rem; height: 3.125rem;
  margin: auto;
  border-radius: 0.5rem;
  background-color: #FED56D;
  cursor: pointer;
}

.slideBox_btn:active { box-shadow: inset 0.2rem 0.2rem 0.2rem #555; }

  .slideBox_btn p {
    position: absolute; left: 50%;
    transform: translateX(-50%);
    display: block;
    font-size: 1.375rem; text-align: center;
    font-weight: 700;
  }


/** 좌우 버튼 */
.slideBox_nextbtn { 
  display: block;
  position: absolute; top: 0; right: 0;
  width: 1.5rem; height: 37.5rem;
  background-image: url("../../img/main_page/01_smartphone/02_slidebox/slidebox_nextbtn.png");
  background-image: url("../../img/main_page/01_smartphone/02_slidebox/slidebox_nextbtn.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  z-index: 10;
 } 

.slideBox_prevbtn { 
  display: block;
  position: absolute; top: 0; left: 0;
  width: 1.5rem; height: 37.5rem;
  background-image: url("../../img/main_page/01_smartphone/02_slidebox/slidebox_prevbtn.png");
  background-image: url("../../img/main_page/01_smartphone/02_slidebox/slidebox_prevbtn.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  z-index: 10;
 }

.slideBox_nextbtn:active {
  background-image: url("../../img/main_page/01_smartphone/02_slidebox/slidebox_nextbtn_act.png");
  background-image: url("../../img/main_page/01_smartphone/02_slidebox/slidebox_nextbtn_act.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: inset 0.2rem 0.3rem 0.2rem #777;
  z-index: 10;
}

.slideBox_prevbtn:active {
  background-image: url("../../img/main_page/01_smartphone/02_slidebox/slidebox_prevbtn_act.png");
  background-image: url("../../img/main_page/01_smartphone/02_slidebox/slidebox_prevbtn_act.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: inset 0.2rem 0.3rem 0.2rem #777;
  z-index: 10;
}



/*? introBox ---------------------------- */
#introBox {
  width: 100%;
  min-width: 20rem; height: 43.75rem;
  background-color: #fff;
}

.introBox_title {
  margin-top: 3.125rem; margin-bottom: 0.9375rem; 
  font-size: 2.25rem; font-weight: 700;
  text-align: center;
}

.introBox_bottom_text_phone {
  display: block;
  margin: auto; margin-bottom: 2.5rem;
  width: 15rem; height: 4.6875rem;
  font-size: 1.125rem;
  text-align: center;
}

.introBox_bottom_text,
.introBox_bottom_text_tablet { display: none; }


/* 카드 영역 */
/** 카드 틀 영역 */
.introBox_card_wrap {
  position: relative;
  width: 80%; min-width: 17.5rem; height: 28.75rem;
  margin: auto;
  border-radius: 0.625rem;
}

/** 카드 내용 (공통) */
.introBox_card_wrap .on { display: block; }
.introBox_contents {
  position: relative;
  display: none;
  padding-top: 5.625rem;
  box-sizing: border-box;
  width: 100%; height: 100%; 
  border-radius: 0.625rem;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.introBox_contents:before,
.introBox_contents::before {
  content: "";
  position: absolute;
  opacity: 0.5;
  top: 0px; left: 0px; right: 0px; bottom: 0px;
  background-color: #fff;
}

.introBox_card_btn {
  position: absolute;
  left: 1.875rem; bottom: 2.1875rem;
  width: 8.625rem; height: 2.5rem;
  background-color: #FED56D;
  border-radius: 0.5rem;
  cursor: pointer;
}

.introBox_card_btn > button { width: 100%; height: 100%; }

.introBox_card_btn:active { box-shadow: inset 0.2rem 0.2rem 0.2rem #555; }
.introBox_card_btn p {
  position: relative;
  display: block;
  font-size: 1.25rem; text-align: center;
  font-weight: 700;
}

.introBox_card_title {
  position: relative;
  font-size: 1.75rem; 
  font-weight: 500;
  margin-bottom: 0.9375rem; margin-left: 2.5rem;
}
.introBox_card_contents {
  position: relative;
  width: 75%;
  min-width: 12.5rem; height: auto;
  margin-left: 2.5rem;
  font-size: 1rem;
}


/** 카드 내용 (개별) */
.introBox_contents_01 {
  background-image: url("../../img/main_page/01_smartphone/03_introbox/introbox_contents_01.png");
  background-image: url("../../img/main_page/01_smartphone/03_introbox/introbox_contents_01.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.introBox_contents_02 {
  display: none;
  position: absolute; 
  top: 0; bottom: 0; left: 0; right: 0;
  background-image: url("../../img/main_page/01_smartphone/03_introbox/introbox_contents_02.png");
  background-image: url("../../img/main_page/01_smartphone/03_introbox/introbox_contents_02.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.introBox_contents_03 {
  display: none;
  position: absolute; 
  top: 0; bottom: 0; left: 0; right: 0;
  background-image: url("../../img/main_page/01_smartphone/03_introbox/introbox_contents_03.png");
  background-image: url("../../img/main_page/01_smartphone/03_introbox/introbox_contents_03.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}





/* 카드 좌상단, 우하단 버튼 */
.introBox_nextbtn_area {
  width: 6.25rem; height: 6.25rem;
  position: absolute;
  bottom: 0; right: 0;

  background-image: url("../../img/main_page/01_smartphone/03_introbox/introbox_nextbtn_bg.png");
  background-image: url("../../img/main_page/01_smartphone/03_introbox/introbox_nextbtn_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 10;
}
.introBox_nextbtn {
  display: block;
  margin-top: 4rem; margin-left: 4.1875rem;
  width: 1.125rem; height: 1.125rem;

  background-image: url("../../img/main_page/01_smartphone/03_introbox/next_arrow.png");
  background-image: url("../../img/main_page/01_smartphone/03_introbox/next_arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  z-index: 10;
}

.introBox_prevbtn_area {
  width: 6.25rem; height: 6.25rem;
  position: absolute;
  top: 0; left: 0;

  background-image: url("../../img/main_page/01_smartphone/03_introbox/introbox_prevbtn_bg.png");
  background-image: url("../../img/main_page/01_smartphone/03_introbox/introbox_prevbtn_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 10;
}

.introBox_prevbtn {
  display: block;
  margin-top: 1.0625rem; margin-left: 1.25rem;
  width: 1.125rem; height: 1.125rem;

  background-image: url("../../img/main_page/01_smartphone/03_introbox/prev_arrow.png");
  background-image: url("../../img/main_page/01_smartphone/03_introbox/prev_arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  z-index: 10;
}

  .introBox_nextbtn:active,
  .introBox_prevbtn:active { width: 1.3125rem; height: 1.3125rem; }


/*? booklistBox ---------------------------- */
#booklistBox {
  width: 100%;
  min-width: 20rem; height: 43.75rem;
  background-color: #F5E6BE;
}

.booklistBox_title {
  padding-top: 3.125rem; margin-bottom: 0.9375rem; 
  font-size: 2.25rem; font-weight: 700;
  text-align: center;
}

.booklistBox_bottom_text_phone {
  display: block;
  margin: auto; margin-bottom: 1.5625rem;
  width: 15rem; height: 4.6875rem;
  font-size: 1.125rem;
  text-align: center;
}
.booklistBox_bottom_text { display: none; }



/* 슬라이드 영역 */
/** 보이는 영역 */
.booklistBox_wrap {
  position: relative;
  margin: auto;
  width: 75%; min-width: 17.5rem; height: 25rem;
  background-color: #fff;
  border-radius: 0.625rem;
  overflow: hidden;
}


/** 슬라이드 전체 영역 */
.booklistBox_cards_total { 
  width: 700%; height: 100%; border-radius: 0.625rem;
}
.booklistBox_cards_total > div {
  position: relative;
  float: left;
  width: 14.285714%; height: 25rem;
}
.card_visible_area {
  min-width: 15rem; width: auto;
  margin-left: 1.25rem; margin-right: 1.25rem;
  overflow: hidden;
}


/** 카드 영역 (공통) */
.booklistBox_card {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  float: left;
  margin: auto; margin-top: 3.125rem; 
  /* margin-left: 20px; margin-right: 20px; */
  width: 200px; height: 19.375rem;
}

.booklistBox_card_img {
  width: 11.5rem; height: 15rem;
  margin: auto; margin-top: 0.5625rem; margin-bottom: 0.5625rem;
  border-radius: 0.625rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.booklistBox_card_title { 
  display: block; 
  width: 11.5rem; height: 2.75rem; margin: auto; 
  margin: auto; padding-top: 0.5rem;
  font-size: 1.75rem; font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}



/* 카드 좌우 버튼 */
.booklistBox_nextbtn {
  display: block;
  position: absolute; top: 10.3125rem; right: 0;
  width: 1.25rem; height: 4.375rem;
  border-radius: 0.3125rem;

  background-image: url("../../img/main_page/01_smartphone/04_booklistbox/booklistbox_nextbtn.png");
  background-image: url("../../img/main_page/01_smartphone/04_booklistbox/booklistbox_nextbtn.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}
.booklistBox_prevbtn {
  display: block;
  position: absolute; top: 10.3125rem; left: 0;
  width: 1.25rem; height: 4.375rem;
  border-radius: 0.3125rem;

  background-image: url("../../img/main_page/01_smartphone/04_booklistbox/booklistbox_prevbtn.png");
  background-image: url("../../img/main_page/01_smartphone/04_booklistbox/booklistbox_prevbtn.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.booklistBox_nextbtn:active {
  background-image: url("../../img/main_page/01_smartphone/04_booklistbox/booklistbox_nextbtn_active.png");
  background-image: url("../../img/main_page/01_smartphone/04_booklistbox/booklistbox_nextbtn_active.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
 }
.booklistBox_prevbtn:active { 
  background-image: url("../../img/main_page/01_smartphone/04_booklistbox/booklistbox_prevbtn_active.png");
  background-image: url("../../img/main_page/01_smartphone/04_booklistbox/booklistbox_prevbtn_active.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
 }

/*? eventBox ---------------------------- */
#eventBox {
  width: 100%;
  min-width: 20rem; height: 52.5rem;
  /* background-color: #ccc; */
}

.eventBox_title {
  padding-top: 3.125rem; margin-bottom: 0.9375rem; 
  font-size: 2.25rem; font-weight: 700;
  text-align: center;
}

.eventBox_bottom_text_phone {
  display: block;
  margin: auto; margin-bottom: 3.125rem;
  width: 15rem; height: 4.6875rem;
  font-size: 1.125rem;
  text-align: center;
}

.eventBox_bottom_text_tablet,
.eventBox_bottom_text { display: none; }


/* 카드 영역 (펼쳐짐) */
.eventBox_card_wrap {
  position: relative;
  width: 80%; min-width: 17.5rem; height: 23.125rem;
  border-radius: 0.625rem;
  margin: auto; margin-bottom: 1.25rem;

  /* background-image: url("../../img/main_page/01_smartphone/05_eventbox/eventbox_img_01.png");
  background-image: url("../../img/main_page/01_smartphone/05_eventbox/eventbox_img_01.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.eventBox_card_title {
  padding-top: 1.875rem; 
  margin-bottom: 0.9375rem; margin-left: 1.5625rem;
  font-size: 1.75rem;
}
.eventBox_card_contents {
  width: 80%; min-width: 13.75rem; height: auto;
  margin-left: 1.875rem;
  font-size: 1rem;
}

.eventBox_card_viewbtn {
  position: absolute; top: 16.75rem; left: 50%;
  transform: translateX(-50%);
  width: 11.25rem; height: 2.5rem;
  border-radius: 0.5rem;
  background-color: #FED56D;
  font-size: 1.125rem; font-weight: 700;
  cursor: pointer;
}

.eventBox_card_joinbtn {
  position: absolute; top: 19.8125rem; left: 50%;
  transform: translateX(-50%);
  width: 11.25rem; height: 2.5rem;
  border-radius: 0.5rem;
  background-color: #FBEC6B;
  font-size: 1.125rem; font-weight: 700;
  cursor: pointer;
}

.eventBox_card_viewbtn:active,
.eventBox_card_joinbtn:active { box-shadow: inset 0.2rem 0.2rem 0.2rem #555; }



/* 카드 영역 (접힘) */



/*? footBox ---------------------------- */
#footBox {
  width: 100%;
  min-width: 20rem; height: 28.125rem;
  background-color: #171717;
}

.footBox_info { display: none; }
.footBox_logo {
  width: 9.6875rem; height: 5.3125rem; 
  padding-top: 2.1875rem; margin: auto; margin-bottom: 2.5rem;
  background-image: url("../../img/main_page/01_smartphone/06_footbox/hannuri_logo_footbox.png");
  background-image: url("../../img/main_page/01_smartphone/06_footbox/hannuri_logo_footbox.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/** 사이드박스 ---------------------- */
/* SNS */
.footBox_sns_wrap {
  width: 11.25rem; height: 3.75rem; 
  margin: auto; margin-bottom: 0.625rem;
}

  .footBox_sns_wrap li,
  .footBox_sns_wrap li a {
    display: block; float: left;
    width: 2.5rem; height: 2.5rem; margin-right: 1.875rem;
    /* background-color: #ccc;  */
  }

  .footBox_sns_wrap li:nth-child(1) {
    background-image: url("../../img/main_page/01_smartphone/06_footbox/facebook.png");
    background-image: url("../../img/main_page/01_smartphone/06_footbox/facebook.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .footBox_sns_wrap li:nth-child(2) {
    background-image: url("../../img/main_page/01_smartphone/06_footbox/instagram.png");
    background-image: url("../../img/main_page/01_smartphone/06_footbox/instagram.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .footBox_sns_wrap li:last-child { 
    background-image: url("../../img/main_page/01_smartphone/06_footbox/twitter.png");
    background-image: url("../../img/main_page/01_smartphone/06_footbox/twitter.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 0; 
  }


/* 패밀리사이트 & bottom box */
.footBox_family_site {
  margin: auto; margin-bottom: 0.625rem;
  width: 11.5625rem; height: 1.875rem;
  border-radius: 0.1875rem;
  background-color: #fff;
}
  .footBox_family_site p {
    font-size: 0.75rem; padding-top: 0.5625rem;
    margin-left: 0.625rem;
    text-transform: capitalize;
  }
.footBox_bottom_smallbox {
  margin: auto; 
  width: 11.5625rem; height: 2.8125rem;
  border-radius: 0.1875rem;
  background-color: #fff;
  margin-bottom: 3.75rem;
}


/* rights */
.footBox_rights { width: 12.6875rem; height: 0.75rem; margin: auto; }
.footBox_rights p {
  font-size: 12px; color: #fff;
}


} /* @media screen and (max-width: 599px) */