/* tablet.css */


@media screen and (min-width: 600px) and (max-width: 1023px) {
  /*? 기준 디바이스 크기 : 600px */

#wrap {
  width: 100%; min-width: 20rem;
}  

/*? headBox ---------------------------- */
#headBox { 
  position: fixed; top: 0;
  width: 100%;
  min-width: 20rem; height: 3.125rem; 
  background-color: #fff;
  box-shadow: 0 0.2rem 0.2rem #999;
  z-index: 2000;
}

.headbox_logo {
  float: left;
  width: 5.625rem; height: 2.125rem;
  margin-left: 0.9375rem; margin-top: 0.5rem;
  background-image: url("../../img/main_page/01_smartphone/01_headbox/Hannuri_logo.png");
  background-image: url("../../img/main_page/01_smartphone/01_headbox/Hannuri_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

  .headbox_logo a {
    display: block;
    width: 5.625rem; height: 2.125rem;
  }

.headbox_navbtn {
  float: right;
  width: 1.25rem; height: 0.9375rem;
  margin-top: 1.125rem; margin-right: 0.9375rem;
  background-image: url("../../img/main_page/01_smartphone/01_headbox/navbtn.png");
  background-image: url("../../img/main_page/01_smartphone/01_headbox/navbtn.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}


/* 네비게이션 박스 */
.navBox {
  display: none;
  position: absolute; top: 0;
  width: 100%; height: 27rem;
  z-index: 2100;
  background-image: url("../../img/main_page/02_tablet/01_headbox/nav_bg.png");
  background-image: url("../../img/main_page/02_tablet/01_headbox/nav_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.navBox_logo {
  float: left;
  width: 5.625rem; height: 2.1875rem; 
  margin-top: 0.5rem; margin-left: 0.9375rem;
  background-image: url("../../img/main_page/01_smartphone/01_headbox/Hannuri_logo_white.png");
  background-image: url("../../img/main_page/01_smartphone/01_headbox/Hannuri_logo_white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.navBox_navbtn {
  float: right;
  width: 1.25rem; height: 0.9375rem; 
  margin-top: 1.125rem; margin-right: 0.9375rem;
  background-image: url("../../img/main_page/01_smartphone/01_headbox/navbtn_white.png");
  background-image: url("../../img/main_page/01_smartphone/01_headbox/navbtn_white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.nav_contents { margin-top: 6.5rem; }
.nav_contents ul { width: 37.5rem; margin: auto; }
.nav_contents li {
  display: block; float: left;
  border-radius: 0.625rem; border: 0.1875rem solid #fff;
  margin-bottom: 1.25rem;
  text-align: center; color: #fff;
}

.nav_contents li:nth-child(1), 
.nav_contents li:nth-child(2) {
  min-width: 15.875rem; 
  height: 1.5rem;
  font-size: 1.5rem; 
  padding-top: 2.4375rem; padding-bottom: 2.4375rem;
  text-align: center;
}

.nav_contents li:nth-child(1) { 
  margin-left: 1.875rem; margin-right: 1.25rem;  
}
.nav_contents li:nth-child(2) { margin-right: 1.875rem; }

.nav_contents li:nth-child(3), 
.nav_contents li:nth-child(4), 
.nav_contents li:nth-child(5) {
  min-width: 9.625rem; 
  height: 1.25rem;
  font-size: 1.25rem; 
  padding-top: 2.5625rem; padding-bottom: 2.5625rem;
  text-align: center; margin-right: 1.875rem;
}

.nav_contents li:nth-child(3) { margin-left: 1.875rem; }
.nav_contents li:nth-child(5) { margin-right: 1.875rem; }



/*? slideBox ---------------------------- */
#slideBox {
  width: 100%;
  min-width: 20rem; height: 37.5rem;
  padding-top: 3.125rem;
}


/* 슬라이드 내용 */
/** 보이는 영역 */
.slideBox_wrap {
  position: relative;
  width: 100%; height: 37.5rem;
  overflow: hidden;
}


/** 움직이는 영역 및 각 항목들 */
.slideBox_inner { width: 500%; height: 100%; }
.slideBox_contents_01 { 
  width: 20%; height: 100%; 
  background-image: url("../../img/main_page/01_smartphone/02_slidebox/slidebox_bg_phone.png");
  background-image: url("../../img/main_page/01_smartphone/02_slidebox/slidebox_bg_phone.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/** 각 항목 내부 내용 */
.slideBox_title {
  text-align: center;
  padding-top: 11.5rem; 
  margin-bottom: 1rem;
  font-size: 2.5rem; font-weight: 700;
}

.slideBox_contents {
  width: 75%; min-width: 13.75rem; height: auto;
  margin: auto; margin-bottom: 2.8125rem;
  font-size: 1.125rem;
  text-align: center;
}

.slideBox_btn {
  position: relative;
  width: 13.75rem; height: 3.125rem;
  margin: auto;
  border-radius: 0.5rem;
  background-color: #FED56D;
  cursor: pointer;
}

.slideBox_btn:active { box-shadow: inset 0.2rem 0.2rem 0.2rem #555; }

  .slideBox_btn p {
    position: absolute; left: 50%;
    transform: translateX(-50%);
    display: block;
    font-size: 1.375rem; text-align: center;
    font-weight: 700;
  }


/** 좌우 버튼 */
.slideBox_nextbtn { 
  position: absolute; top: 16.25rem; right: 0;
  width: 2.5rem; height: 5rem;
  background-image: url("../../img/main_page/02_tablet/02_slidebox/slidebox_nextbtn.png");
  background-image: url("../../img/main_page/02_tablet/02_slidebox/slidebox_nextbtn.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  } 

.slideBox_prevbtn { 
  position: absolute; top: 16.25rem; left: 0;
  width: 2.5rem; height: 5rem;
  background-image: url("../../img/main_page/02_tablet/02_slidebox/slidebox_prevbtn.png");
  background-image: url("../../img/main_page/02_tablet/02_slidebox/slidebox_prevbtn.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  }

.slideBox_nextbtn:active {
  background-image: url("../../img/main_page/02_tablet/02_slidebox/slidebox_nextbtn_active.png");
  background-image: url("../../img/main_page/02_tablet/02_slidebox/slidebox_nextbtn_active.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: inset 0.2rem 0.3rem 0.2rem #777;
}

.slideBox_prevbtn:active {
  background-image: url("../../img/main_page/02_tablet/02_slidebox/slidebox_prevbtn_active.png");
  background-image: url("../../img/main_page/02_tablet/02_slidebox/slidebox_prevbtn_active.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: inset 0.2rem 0.3rem 0.2rem #777;
}



/*? introBox ---------------------------- */
#introBox {
  width: 100%;
  min-width: 20rem; height: 43.75rem;
  background-color: #fff;
}

.introBox_title {
  padding-top: 3.75rem; margin-bottom: 0.9375rem; 
  margin-left: 1.5625rem;
  box-sizing: border-box;
  font-size: 2.5rem; font-weight: 700;
}

.introBox_bottom_text,
.introBox_bottom_text_phone { display: none; }
.introBox_bottom_text_tablet {
  display: block;
  margin-bottom: 2.8125rem;
  margin-left: 1.875rem;
  width: 18.75rem; height: 3.125rem;
  font-size: 1.125rem;
}


/* 카드 영역 */
/** 카드 틀 영역 */
.introBox_card_wrap {
  position: relative;
  width: 90%; min-width: 34.375rem; height: 23.125rem;
  margin: auto;
  border-radius: 0.625rem;
}

/** 카드 내용 (공통) */
.introBox_contents {
  padding-top: 4.375rem;
  box-sizing: border-box;
  width: 100%; height: 100%; 
  border-radius: 0.625rem;
}

.introBox_card_title {
  font-size: 2rem; 
  font-weight: 500;
  margin-bottom: 0.9375rem; margin-left: 6rem;
}
.introBox_card_contents {
  width: 75%;
  min-width: 21.875rem; height: auto;
  margin-left: 6.25rem;
  font-size: 1.125rem;
}
.introBox_card_btn {
  position: absolute;
  left: 5.375rem; bottom: 2.5rem;
  width: 13.75rem; height: 3.125rem;
  background-color: #FED56D;
  border-radius: 0.5rem;
  cursor: pointer;
}

.introBox_card_btn > button { width: 100%; height: 100%; }

.introBox_card_btn:active { box-shadow: inset 0.2rem 0.2rem 0.2rem #555; }
.introBox_card_btn p {
  display: block;
  font-size: 1.375rem; text-align: center;
  font-weight: 700;
}


/** 카드 내용 (개별) */
.introBox_contents_01 {
  background-image: url("../../img/main_page/01_smartphone/03_introbox/introbox_contents_01.png");
  background-image: url("../../img/main_page/01_smartphone/03_introbox/introbox_contents_01.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.introBox_contents_02 {
  display: none;
  position: absolute; 
  top: 0; bottom: 0; left: 0; right: 0;
  background-image: url("../../img/main_page/01_smartphone/03_introbox/introbox_contents_02.png");
  background-image: url("../../img/main_page/01_smartphone/03_introbox/introbox_contents_02.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.introBox_contents_03 {
  display: none;
  position: absolute; 
  top: 0; bottom: 0; left: 0; right: 0;
  background-image: url("../../img/main_page/01_smartphone/03_introbox/introbox_contents_03.png");
  background-image: url("../../img/main_page/01_smartphone/03_introbox/introbox_contents_03.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/* 카드 좌상단, 우하단 버튼 */
.introBox_nextbtn_area {
  width: 8.75rem; height: 8.75rem;
  position: absolute;
  bottom: 0; right: 0;

  background-image: url("../../img/main_page/02_tablet/03_introbox/introbox_nextbtn_bg.png");
  background-image: url("../../img/main_page/02_tablet/03_introbox/introbox_nextbtn_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.introBox_nextbtn {
  margin-top: 5.9375rem; margin-left: 5.8125rem;
  width: 1.625rem; height: 1.625rem;

  background-image: url("../../img/main_page/02_tablet/03_introbox/next_arrow.png");
  background-image: url("../../img/main_page/02_tablet/03_introbox/next_arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.introBox_prevbtn_area {
  width: 8.75rem; height: 8.75rem;
  position: absolute;
  top: 0; left: 0;

  background-image: url("../../img/main_page/02_tablet/03_introbox/introbox_prevbtn_bg.png");
  background-image: url("../../img/main_page/02_tablet/03_introbox/introbox_prevbtn_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.introBox_prevbtn {
  margin-top: 1.4375rem; margin-left: 1.6875rem;
  width: 1.625rem; height: 1.625rem;

  background-image: url("../../img/main_page/02_tablet/03_introbox/prev_arrow.png");
  background-image: url("../../img/main_page/02_tablet/03_introbox/prev_arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

  .introBox_nextbtn:active,
  .introBox_prevbtn:active { width: 1.9rem; height: 1.9rem; }


/*? booklistBox ---------------------------- */
#booklistBox {
  width: 100%;
  min-width: 20rem; height: 43.75rem;
  background-color: #F5E6BE;
}

.booklistBox_title {
  padding-top: 6.25rem; 
  margin-bottom: 0.625rem; margin-left: 1.5625rem;
  font-size: 2.5rem; font-weight: 700;
}

.booklistBox_bottom_text_phone { display: none; }
.booklistBox_bottom_text {
  display: block;
  margin-bottom: 1.5625rem; margin-left: 1.875rem;
  width: 28.125rem; height: 1.5625rem;
  font-size: 1.125rem;
}


/* 슬라이드 영역 */
/** 전체 영역 */
.booklistBox_wrap {
  position: relative;
  margin: auto; width: 90%;
  min-width: 34.375rem; height: 25rem;
  background-color: #fff;
  border-radius: 0.625rem;
  overflow: hidden;
}


/** 슬라이드 전체 영역 */
.booklistBox_cards_total { 
  width: 700%; height: 100%; border-radius: 0.625rem;
}


/** 카드 영역 (공통) */
.booklistBox_card {
  float: left;
  width: 13.125rem; height: 18.75rem;
  padding-top: 3.125rem; margin-left: 3.125rem;
}

.booklistBox_card_title { 
  display: block; 
  width: 11.875rem; height: 2.5rem; margin: auto; 
  padding-top: 1.25rem;
  font-size: 1.75rem; font-weight: 500;
  text-transform: capitalize;
  text-align: center;
}


/** 카드 영역 (개별) */
.booklistBox_card > div {
  width: 11.875rem; height: 14.375rem; 
  margin: auto; margin-top: 0.625rem; margin-bottom: 0.625rem;
  border-radius: 0.625rem;
}

.booklistBox_card_img_01 {
  background-image: url("../../img/booklist_page/popular_book_01.png");
  background-image: url("../../img/booklist_page/popular_book_01.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.booklistBox_card_img_02 {
  background-image: url("../../img/booklist_page/popular_book_02.png");
  background-image: url("../../img/booklist_page/popular_book_02.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.booklistBox_card_img_03 {
  background-image: url("../../img/booklist_page/popular_book_03.png");
  background-image: url("../../img/booklist_page/popular_book_03.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.booklistBox_card_img_04 {
  background-image: url("../../img/booklist_page/popular_book_04.png");
  background-image: url("../../img/booklist_page/popular_book_04.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.booklistBox_card_img_05 {
  background-image: url("../../img/booklist_page/popular_book_05.png");
  background-image: url("../../img/booklist_page/popular_book_05.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.booklistBox_card_img_06 {
  background-image: url("../../img/booklist_page/popular_book_06.png");
  background-image: url("../../img/booklist_page/popular_book_06.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.booklistBox_card_img_07 {
  background-image: url("../../img/booklist_page/popular_book_07.png");
  background-image: url("../../img/booklist_page/popular_book_07.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}


/* 카드 좌우 버튼 */
.booklistBox_nextbtn {
  display: block;
  position: absolute; top: 10.3125rem; right: 0;
  width: 1.875rem; height: 4.375rem;
  border-radius: 0.3125rem;

  background-image: url("../../img/main_page/02_tablet/04_booklistbox/booklistbox_nextbtn.png");
  background-image: url("../../img/main_page/02_tablet/04_booklistbox/booklistbox_nextbtn.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}
.booklistBox_prevbtn {
  display: block;
  position: absolute; top: 10.3125rem; left: 0;
  width: 1.875rem; height: 4.375rem;
  border-radius: 0.3125rem;

  background-image: url("../../img/main_page/02_tablet/04_booklistbox/booklistbox_prevbtn.png");
  background-image: url("../../img/main_page/02_tablet/04_booklistbox/booklistbox_prevbtn.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.booklistBox_nextbtn:active {
  background-image: url("../../img/main_page/02_tablet/04_booklistbox/booklistbox_nextbtn_active.png");
  background-image: url("../../img/main_page/02_tablet/04_booklistbox/booklistbox_nextbtn_active.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  }
.booklistBox_prevbtn:active { 
  background-image: url("../../img/main_page/02_tablet/04_booklistbox/booklistbox_prevbtn_active.png");
  background-image: url("../../img/main_page/02_tablet/04_booklistbox/booklistbox_prevbtn_active.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  }


/*? eventBox ---------------------------- */
#eventBox {
  position: relative;
  width: 100%;
  min-width: 37.5rem; height: 43.75rem;
}

.eventBox_title {
  padding-top: 6.25rem; 
  margin-left: 1.5625rem;  margin-bottom: 0.625rem; 
  font-size: 2.5rem; font-weight: 700;
}

.eventBox_bottom_text,
.eventBox_bottom_text_phone { display: none; }
.eventBox_bottom_text_tablet {
  display: block;
  margin-left: 1.875rem; margin-bottom: 1.875rem;
  width: 31.25rem; height: 3.5rem;
  font-size: 1.125rem;
}


/* 카드 영역 */
/** 전체 영역 */
.eventBox_card_total {
  position: relative;
  width: 90%; min-width: 34.375rem; height: 23.125rem;
  border-radius: 0.625rem;
  margin: auto; margin-bottom: 5rem;
}

/** 공통 부분 */
.eventBox_card_total > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 100%; min-width: 34.375rem; height: 23.125rem;
  border-radius: 0.625rem;
  margin: auto;
}

.eventBox_card_title {
  padding-top: 2.8125rem; 
  margin-bottom: 1.375rem; margin-left: 3.75rem;
  font-size: 2rem; font-weight: 500;
}
.eventBox_card_contents {
  width: 80%; min-width: 23.75rem; height: 6.75rem;
  margin-left: 3.9375rem;
  font-size: 1.125rem;
}

.eventBox_card_viewbtn {
  position: relative;
  float: left;
  margin-top: 4.375rem; margin-left: 3.75rem; 
  margin-right: 4%;
  width: 36%; min-width: 12.5rem; height: 3.125rem;
  border-radius: 0.5rem;
  background-color: #FED56D;
  font-size: 1.375rem; font-weight: 700;
  cursor: pointer;
}
.eventBox_card_joinbtn {
  position: relative;
  float: left;
  margin-top: 4.375rem;
  width: 32%; min-width: 11.25rem; height: 3.125rem;
  border-radius: 0.5rem;
  background-color: #FBEC6B;
  font-size: 1.375rem; font-weight: 700;
  cursor: pointer;
}

.eventBox_card_viewbtn:active,
.eventBox_card_joinbtn:active { box-shadow: inset 0.2rem 0.2rem 0.2rem #555; }


/** 개별 부분 */
.eventBox_card_wrap_01 {
  background-image: url("../../img/main_page/02_tablet/05_eventbox/eventbox_img_01.png");
  background-image: url("../../img/main_page/02_tablet/05_eventbox/eventbox_img_01.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.eventBox_card_wrap_02 {
  display: none;
  background-image: url("../../img/main_page/02_tablet/05_eventbox/eventbox_img_02.png");
  background-image: url("../../img/main_page/02_tablet/05_eventbox/eventbox_img_02.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.eventBox_card_wrap_03 {
  display: none;
  background-image: url("../../img/main_page/02_tablet/05_eventbox/eventbox_img_03.png");
  background-image: url("../../img/main_page/02_tablet/05_eventbox/eventbox_img_03.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/* 버튼 영역 */
.eventBox_nextbtn {
  display: block;
  position: absolute; top: 0; right: 0;
  width: 1.875rem; height: 370px;

  background-image: url("../../img/main_page/02_tablet/05_eventbox/eventbox_nextbtn.png");
  background-image: url("../../img/main_page/02_tablet/05_eventbox/eventbox_nextbtn.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}
.eventBox_prevbtn {
  display: block;
  position: absolute; top: 0; left: 0;
  width: 1.875rem; height: 23.125rem;

  background-image: url("../../img/main_page/02_tablet/05_eventbox/eventbox_prevbtn.png");
  background-image: url("../../img/main_page/02_tablet/05_eventbox/eventbox_prevbtn.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.eventBox_nextbtn:active {
  background-image: url("../../img/main_page/02_tablet/05_eventbox/eventbox_nextbtn_active.png");
  background-image: url("../../img/main_page/02_tablet/05_eventbox/eventbox_nextbtn_active.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.eventBox_prevbtn:active {
  background-image: url("../../img/main_page/02_tablet/05_eventbox/eventbox_prevbtn_active.png");
  background-image: url("../../img/main_page/02_tablet/05_eventbox/eventbox_prevbtn_active.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/*? footBox ---------------------------- */
#footBox {
  position: relative;
  width: 100%;
  min-width: 20rem; height: 28.125rem;
  background-color: #171717;
}

.footBox_logo {
  float: left;
  width: 9.6875rem; height: 5.3125rem; 
  padding-top: 1.875rem; margin-left: 2.5rem;
  background-image: url("../../img/main_page/01_smartphone/06_footbox/hannuri_logo_footbox.png");
  background-image: url("../../img/main_page/01_smartphone/06_footbox/hannuri_logo_footbox.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/** info 박스 --------------------- */
.footBox_info {
  position: absolute; top: 14.0625rem; left: 2.1875rem;
  width: 33.75rem; height: 8.75rem;
}

  .footBox_info_nav { height: 1.875rem; }
  .footBox_info_nav li {
    float: left; 
    font-size: 0.75rem; color: #fff;
    margin-right: 1rem;
  }
  .footBox_info_nav li:first-child { margin-left: 0.25rem; }

  .footBox_info_detail { width: 25rem; height: 3.125rem; }
  .footBox_info_detail address {
    font-size: 0.75rem; color: #fff;
    padding-left: 0.25rem; padding-right: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .footBox_info_detail dt,
  .footBox_info_detail dd { 
    float: left; 
    font-size: 0.75rem; color: #fff;
    padding-left: 0.25rem; padding-right: 0.25rem;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
  }

  .footBox_info_detail dd { border-right: 0.0625rem solid #fff; }
  .footBox_info_detail dd:first-of-type { border-right: 0 }


/** 사이드박스 ---------------------- */
.footBox_side {  
  float: right; margin-right: 1.875rem;
}

/* SNS */
.footBox_sns_wrap {
  width: 11.25rem; height: 3.75rem; 
  margin: auto; margin-top: 2.8125rem; margin-bottom: 0.625rem;
}

  .footBox_sns_wrap li,
  .footBox_sns_wrap li a {
    display: block; float: left;
    width: 2.5rem; height: 2.5rem; margin-right: 1.875rem;
    /* background-color: #ccc;  */
  }

  .footBox_sns_wrap li:nth-child(1) {
    background-image: url("../../img/main_page/01_smartphone/06_footbox/facebook.png");
    background-image: url("../../img/main_page/01_smartphone/06_footbox/facebook.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .footBox_sns_wrap li:nth-child(2) {
    background-image: url("../../img/main_page/01_smartphone/06_footbox/instagram.png");
    background-image: url("../../img/main_page/01_smartphone/06_footbox/instagram.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .footBox_sns_wrap li:last-child { 
    background-image: url("../../img/main_page/01_smartphone/06_footbox/twitter.png");
    background-image: url("../../img/main_page/01_smartphone/06_footbox/twitter.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 0; 
  }


/* 패밀리사이트 & bottom box */
.footBox_family_site {
  margin: auto; margin-bottom: 0.625rem;
  width: 11.5625rem; height: 1.875rem;
  border-radius: 0.1875rem;
  background-color: #fff;
}
  .footBox_family_site p {
    font-size: 0.75rem; padding-top: 0.5625rem;
    margin-left: 0.625rem;
    text-transform: capitalize;
  }
.footBox_bottom_smallbox {
  display: none;
  margin: auto; 
  width: 11.5625rem; height: 2.8125rem;
  border-radius: 0.1875rem;
  background-color: #fff;
  margin-bottom: 3.75rem;
}


/* rights */
.footBox_rights { 
  position: absolute; top: 20.9375rem; left: 2.4375rem;
  width: 12.6875rem; height: 0.75rem;  }
.footBox_rights p {
  font-size: 0.75rem; color: #fff;
}


} /* @media screen and (min-width: 600px) and (max-width: 1023px) */