/* intro.css */


#wrap {
  width: 100%; min-width: 90rem; overflow: auto;
}  

/*? headBox ---------------------------- */
#headBox { 
  position: fixed; top: 0;
  width: 100%;
  min-width: 64rem; height: 6.25rem; 
  background-color: #fff;
  box-shadow: 0 0.2rem 0.2rem #999;
  z-index: 2000;
}

.headBox_wrap {
  width: 85%; height: 6.25rem;
  min-width: 90rem;
  max-width: 93.75rem;
  margin: auto;
}

.headbox_logo {
  float: left;
  width: 121px; height: 85px;
  margin-left: 40px; margin-top: 5px;
  background-image: url("../../img/main_page/03_laptop/01_headbox/hannuri_logo.png");
  background-image: url("../../img/main_page/03_laptop/01_headbox/hannuri_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

  .headbox_logo a {
    display: block;
    width: 121px; height: 85px;
  }


/* 네비게이션 영역 */
.navBox { 
  float: right; 
  margin-top: 2.1875rem; margin-right: 0.75rem;
  width: auto; height: 1.125rem; 
}
.nav_contents li {
  float: left;
  padding-top: 1rem; padding-bottom: 1rem;
  margin-right: 1.25rem; font-size: 1.125rem; 
}



/*? bannerBox ---------------------------- */
#bannerBox {
  width: auto; height: 18.75rem;
  padding-top: 6.25rem;
  background-image: url("../../img/intro_page/banner.png");
  background-image: url("../../img/intro_page/banner.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.bannerBox_contents_area {
  padding-top: 5.9375rem;
  width: 90rem; height: 100%;
  margin: auto;
  box-sizing: border-box;
}

#bannerBox h2 { 
  margin-left: 9.0625rem; margin-bottom: 1.875rem; 
  font-size: 2.5rem; font-weight: 700;
}
#bannerBox p { 
  margin-left: 9.375rem; 
  font-size: 1.5rem; font-weight: 500; 
}


/*? contentBox ---------------------------- */
#contentBox {
  width: auto; height: 100rem;
  background-color: #fff;
  border-top: 1px solid #fff; /** 로고의 margin-top이 contentBox까지 끌어내리는 현상을 방지하기 위해 테두리 설정 */
}


/* 로고 및 설명 */
.contentBox_logo { 
  margin: auto; margin-top: 8.75rem; margin-bottom: 2.8125rem;
  width: 16.5625rem; height: 6.875rem;
  background-image: url("../../img/intro_page/hannuri_logo.png");
  background-image: url("../../img/intro_page/hannuri_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#contentBox > p {
  margin: auto; margin-bottom: 5rem;
  width: auto; height: auto; 
  font-size: 28px; font-weight: 500;
  text-align: center;
}


/* 내용 영역 */
.contentBox_intro_area { margin: auto; width: 67.5rem; height: auto; }
.contentBox_intro_area > div {
  margin-bottom: 55px;
  width: 1080px; height: 250px; border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.contentBox_intro_area > div:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.contentBox_intro_area p {
  width: auto; height: 50px;
  padding-top: 100px; padding-bottom: 100px;
  font-size: 36px; color: #fff; text-align: center;
}

.intro_01_image {
  height: 250px;
  background-image: url("../../img/intro_page/intro_01_wrap.png");
  background-image: url("../../img/intro_page/intro_01_wrap.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.intro_02_image {
  background-image: url("../../img/intro_page/intro_02_wrap.png");
  background-image: url("../../img/intro_page/intro_02_wrap.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.intro_03_image {
  background-image: url("../../img/intro_page/intro_03_wrap.png");
  background-image: url("../../img/intro_page/intro_03_wrap.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/*? footBox ---------------------------- */
#footBox {
  position: relative;
  width: 100%;
  min-width: 20rem; height: 28.125rem;
  background-color: #171717;
  border-top: 1px solid #171717;
}

.footBox_wrap {
  position: relative;
  width: 85%; height: 28.125rem;
  max-width: 93.75rem;
  margin: auto; padding-top: 5.3125rem;
  box-sizing: border-box;
}

.footBox_logo {
  width: 9.6875rem; height: 5.3125rem; 
  margin: auto; 
  /* margin-top: 5.3125rem;  */
  margin-bottom: 2.1875rem;
  background-image: url("../../img/main_page/01_smartphone/06_footbox/hannuri_logo_footbox.png");
  background-image: url("../../img/main_page/01_smartphone/06_footbox/hannuri_logo_footbox.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/** info 박스 --------------------- */
.footBox_info {
  position: absolute; top: 13.4375rem; left: 2.1875rem;
  width: 33.75rem; height: 8.75rem;
}

  .footBox_info_nav { height: 1.875rem; }
  .footBox_info_nav li {
    float: left; 
    font-size: 0.75rem; color: #fff;
    margin-right: 1rem;
  }
  .footBox_info_nav li:first-child { margin-left: 0.25rem; }

  .footBox_info_detail { width: 25rem; height: 3.125rem; }
  .footBox_info_detail address {
    font-size: 0.75rem; color: #fff;
    padding-left: 0.25rem; padding-right: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .footBox_info_detail dt,
  .footBox_info_detail dd { 
    float: left; 
    font-size: 0.75rem; color: #fff;
    padding-left: 0.25rem; padding-right: 0.25rem;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
  }

  .footBox_info_detail dd { border-right: 0.0625rem solid #fff; }
  .footBox_info_detail dd:first-of-type { border-right: 0 }


/** 사이드박스 ---------------------- */
.footBox_side {  
  float: right; margin-right: 1.875rem;
}

/* SNS */
.footBox_sns_wrap {
  width: 11.25rem; height: auto; 
  margin: auto; margin-bottom: 0.9375rem;
}

  .footBox_sns_wrap li,
  .footBox_sns_wrap li a {
    display: block; float: left;
    width: 2.5rem; height: 2.5rem; margin-right: 1.875rem;
    /* background-color: #ccc;  */
  }

  .footBox_sns_wrap li:nth-child(1) {
    background-image: url("../../img/main_page/01_smartphone/06_footbox/facebook.png");
    background-image: url("../../img/main_page/01_smartphone/06_footbox/facebook.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .footBox_sns_wrap li:nth-child(2) {
    background-image: url("../../img/main_page/01_smartphone/06_footbox/instagram.png");
    background-image: url("../../img/main_page/01_smartphone/06_footbox/instagram.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .footBox_sns_wrap li:last-child { 
    background-image: url("../../img/main_page/01_smartphone/06_footbox/twitter.png");
    background-image: url("../../img/main_page/01_smartphone/06_footbox/twitter.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 0; 
  }


/* 패밀리사이트 & bottom box */
.footBox_family_site {
  margin: auto; margin-bottom: 0.625rem;
  width: 11.5625rem; height: 1.875rem;
  border-radius: 0.1875rem;
  background-color: #fff;
}
  .footBox_family_site p {
    font-size: 0.75rem; padding-top: 0.5625rem;
    margin-left: 0.625rem;
    text-transform: capitalize;
  }
.footBox_bottom_smallbox {
  margin: auto; 
  width: 11.5625rem; height: 2.8125rem;
  border-radius: 0.1875rem;
  background-color: #fff;
  margin-bottom: 3.75rem;
}


/* rights */
.footBox_rights { 
  position: absolute; top: 20.9375rem; left: 2.4375rem;
  width: 12.6875rem; height: 0.75rem;  }
.footBox_rights p {
  font-size: 0.75rem; color: #fff;
}