/* introBox.css */


@media screen and (min-width: 1024px) and (max-width: 1439px) {
  /*? 기준 디바이스 크기 : 1024px */

/*? introBox ---------------------------- */
#introBox {
  width: 100%;
  min-width: 20rem; height: 43.75rem;
  background-color: #fff;
}

.introBox_title {
  width: 58.75rem;
  padding-top: 6.25rem; 
  padding-bottom: 0.9375rem;
  margin: auto;
  font-size: 2.5rem; font-weight: 700;
}

.introBox_bottom_text_phone,
.introBox_bottom_text_tablet { display: none; }
.introBox_bottom_text {
  display: block;
  width: 58.75rem; height: auto;
  margin: auto;
  padding-bottom: 2.8125rem;
  font-size: 1.125rem;
}


/* 카드 영역 */
/** 카드 틀 영역 */
.introBox_card_wrap {
  position: relative;
  width: 58.75rem; height: 23.125rem;
  margin: auto;
  border-radius: 0.625rem;
}

.dividing_box {
  position: absolute; top: -0.1875rem; left: 38%;
  width: 7.5%; height: 27.6rem;
  background-color: #fff;
  z-index: 10;
}

/** 카드 내용 (공통) */
.introBox_contents {
  padding-top: 2.5rem;
  box-sizing: border-box;
  width: 100%; height: 100%; 
  border-radius: 0.625rem;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.introBox_contents:before,
.introBox_contents::before {
  content: "";
  position: absolute;
  opacity: 0.5;
  top: 0px; left: 0px; right: 0px; bottom: 0px;
  background-color: #fff;
}

.introBox_card_title {
  position: absolute; left: 50%;
  font-size: 2rem; 
  font-weight: 500;
}
.introBox_card_contents {
  position: absolute; left: 50%; top: 8.125rem;
  width: 45%;
  min-width: 26.875rem; height: auto;
  font-size: 1.125rem;
}
.introBox_card_btn {
  position: absolute;
  left: 50%; bottom: 2.5rem;
  width: 13.75rem; height: 3.125rem;
  background-color: #FED56D;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.375rem; text-align: center;
  font-weight: 700;
  z-index: 10;
}

.introBox_card_btn > button { width: 100%; height: 100%; }

.introBox_card_btn:active { box-shadow: inset 0.2rem 0.2rem 0.2rem #555; }


/** 카드 내용 (개별) */
.introBox_contents_01 {
  background-image: url("../../../img/main_page/01_smartphone/03_introbox/introbox_contents_01.png");
  background-image: url("../../../img/main_page/01_smartphone/03_introbox/introbox_contents_01.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.introBox_contents_02 {
  display: none;
  position: absolute; 
  top: 0; bottom: 0; left: 0; right: 0;
  background-image: url("../../../img/main_page/01_smartphone/03_introbox/introbox_contents_02.png");
  background-image: url("../../../img/main_page/01_smartphone/03_introbox/introbox_contents_02.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.introBox_contents_03 {
  display: none;
  position: absolute; 
  top: 0; bottom: 0; left: 0; right: 0;
  background-image: url("../../../img/main_page/01_smartphone/03_introbox/introbox_contents_03.png");
  background-image: url("../../../img/main_page/01_smartphone/03_introbox/introbox_contents_03.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/** 카드 좌상단, 우하단 버튼 */
.introBox_nextbtn_area {
  width: 8.75rem; height: 8.75rem;
  position: absolute;
  bottom: 0; right: 0;

  background-image: url("../../../img/main_page/02_tablet/03_introbox/introbox_nextbtn_bg.png");
  background-image: url("../../../img/main_page/02_tablet/03_introbox/introbox_nextbtn_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 10;
}
.introBox_nextbtn {
  margin-top: 5.9375rem; margin-left: 5.8125rem;
  width: 1.625rem; height: 1.625rem;

  background-image: url("../../../img/main_page/02_tablet/03_introbox/next_arrow.png");
  background-image: url("../../../img/main_page/02_tablet/03_introbox/next_arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  z-index: 10;
}

.introBox_prevbtn_area {
  width: 8.75rem; height: 8.75rem;
  position: absolute;
  top: 0; left: 0;

  background-image: url("../../../img/main_page/02_tablet/03_introbox/introbox_prevbtn_bg.png");
  background-image: url("../../../img/main_page/02_tablet/03_introbox/introbox_prevbtn_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 10;
}
.introBox_prevbtn {
  margin-top: 1.4375rem; margin-left: 1.6875rem;
  width: 1.625rem; height: 1.625rem;

  background-image: url("../../../img/main_page/02_tablet/03_introbox/prev_arrow.png");
  background-image: url("../../../img/main_page/02_tablet/03_introbox/prev_arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  z-index: 10;
}

  /* .introBox_prevbtn:hover,
  .introBox_nextbtn:hover { width: 1.9rem; height: 1.9rem; } */

} /* @media screen and (min-width: 1024px) and (max-width: 1439px) */