/* eventBox.css */



@media screen and (max-width: 599px) {
  /*? 기준 디바이스 크기 : 320px */

/*? eventBox ---------------------------- */
#eventBox {
  width: 100%;
  min-width: 20rem; height: 52.5rem;
  /* background-color: #ccc; */
}

.eventBox_title {
  padding-top: 3.125rem; margin-bottom: 0.9375rem; 
  font-size: 2.25rem; font-weight: 700;
  text-align: center;
}

.eventBox_bottom_text_phone {
  display: block;
  margin: auto; margin-bottom: 3.125rem;
  width: 15rem; height: 4.6875rem;
  font-size: 1.125rem;
  text-align: center;
}

.eventBox_bottom_text_tablet,
.eventBox_bottom_text { display: none; }


/* 카드 (전체) */
.eventBox_card_total > div { cursor: pointer; }
.eventBox_card_total > button { display: none; }


/* 카드 영역 (펼쳐짐) */
.eventBox_card_wrap {
  position: relative;
  width: 80%; min-width: 17.5rem; height: 23.125rem;
  border-radius: 0.625rem;
  margin: auto; margin-bottom: 1.25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  transition-property: height;
	transition-duration: 0.5s;
}

.eventBox_card_wrap.on {
  height: 23.125rem;
  transition-property: height;
	transition-duration: 0.5s;
}
.eventBox_card_wrap.off {
  height: 3.125rem;
  transition-property: height;
	transition-duration: 0.5s;
}

.eventBox_content_area.on { display: block; }
.eventBox_content_area.off { display: none; }

.eventBox_card_title {
  padding-top: 1.875rem; 
  margin-bottom: 0.9375rem; margin-left: 1.5625rem;
  font-size: 1.75rem;
}
.eventBox_card_contents {
  width: 80%; min-width: 13.75rem; height: auto;
  margin-left: 1.875rem;
  font-size: 1rem;
}

.eventBox_card_viewbtn {
  position: absolute; top: 16.75rem; left: 50%;
  transform: translateX(-50%);
  width: 11.25rem; height: 2.5rem;
  border-radius: 0.5rem;
  background-color: #FED56D;
  font-size: 1.125rem; font-weight: 700;
  cursor: pointer;
}

.eventBox_card_joinbtn {
  position: absolute; top: 19.8125rem; left: 50%;
  transform: translateX(-50%);
  width: 11.25rem; height: 2.5rem;
  border-radius: 0.5rem;
  background-color: #FBEC6B;
  font-size: 1.125rem; font-weight: 700;
  cursor: pointer;
}

.eventBox_card_viewbtn:active,
.eventBox_card_joinbtn:active { box-shadow: inset 0.2rem 0.2rem 0.2rem #555; }


} /* @media screen and (max-width: 599px) */