/* headbox.css */



@media screen and (max-width: 599px) {
  /*? 기준 디바이스 크기 : 320px */


/*? headBox ---------------------------- */
#headBox { 
  position: fixed; top: 0;
  width: 100%;
  min-width: 20rem; height: 3.125rem; 
  background-color: #fff;
  box-shadow: 0 0.2rem 0.2rem #999;
  z-index: 2000;
}

.headbox_logo {
  float: left;
  width: 5.625rem; height: 2.125rem;
  margin-left: 0.9375rem; margin-top: 0.5rem;
  background-image: url("../../../img/main_page/01_smartphone/01_headbox/Hannuri_logo.png");
  background-image: url("../../../img/main_page/01_smartphone/01_headbox/Hannuri_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

  .headbox_logo a {
    display: block;
    width: 5.625rem; height: 2.125rem;
  }

.headbox_navbtn {
  float: right;
  width: 1.25rem; height: 0.9375rem;
  margin-top: 1.125rem; margin-right: 0.9375rem;
  background-image: url("../../../img/main_page/01_smartphone/01_headbox/navbtn.png");
  background-image: url("../../../img/main_page/01_smartphone/01_headbox/navbtn.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}


/* 네비게이션 박스 */
.navBox {
  /* display: none; */
  position: absolute; top: -35rem;
  width: 100%; height: 35rem;
  z-index: 2100;
  background-image: url("../../../img/main_page/01_smartphone/01_headbox/nav_bg.png");
  background-image: url("../../../img/main_page/01_smartphone/01_headbox/nav_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  transition-property: top;
	transition-duration: 0.8s;
}
.navBox_on { top: 0; }
.navBox_off { top: -35rem }

.navBox_logo {
  float: left;
  width: 5.625rem; height: 2.1875rem; 
  margin-top: 0.5rem; margin-left: 0.9375rem;
  background-image: url("../../../img/main_page/01_smartphone/01_headbox/Hannuri_logo_white.png");
  background-image: url("../../../img/main_page/01_smartphone/01_headbox/Hannuri_logo_white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.navBox_navbtn {
  float: right;
  width: 1.25rem; height: 0.9375rem; 
  margin-top: 1.125rem; margin-right: 0.9375rem;
  background-image: url("../../../img/main_page/01_smartphone/01_headbox/navbtn_white.png");
  background-image: url("../../../img/main_page/01_smartphone/01_headbox/navbtn_white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.nav_contents { margin-top: 6.5rem; }
.nav_contents li {
  display: block; 
  margin: auto;
  width: 70%;  min-width: 16.5rem; 
  height: 2rem; border-radius: 0.625rem;
  border: 0.1875rem solid #fff;
  margin-bottom: 0.9375rem;
  padding-top: 0.875rem; padding-bottom: 0.875rem;

  text-align: center;
  font-size: 1.375rem; color: #fff;
}


} /* @media screen and (max-width: 599px) */