/* slidebox.css */



@media screen and (max-width: 599px) {
  /*? 기준 디바이스 크기 : 320px */

/*? slideBox ---------------------------- */
#slideBox {
  width: 100%;
  min-width: 20rem; height: 37.5rem;
  padding-top: 3.125rem;
}


/* 슬라이드 내용 */
/** 보이는 영역 */
.slideBox_wrap {
  position: relative;
  width: 100%; height: 37.5rem;
  overflow: hidden;
}
.slideBox_wrap::before{
  content: "";
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  opacity: 0.3;
  background-color: #fff;
}


/** 움직이는 영역 및 각 항목들 */
.slideBox_inner { 
  width: 400%; height: 100%; 
  margin-left: 0; margin-right: 0;
}
.slideBox_inner > div { 
  float: left;
  width: 25%; height: 100%; 
}
.cards_img { 
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/** 스와이프 기능 안내 */
.swipe_guide_area {
  opacity: 0;
  position: absolute;
  bottom: 130px; left: 50%;
  transform: translateX(-50%);
  width: 200px; height: 50px;
  
  transition-property: opacity;
	transition-duration: 1s;
}
.swipe_guide_area p {
  text-align: center;
  font-size: 1.25rem;
} 
.fadeIn_swipeGuide { opacity: 1; }



/** 각 항목 내부 내용 */
.slideBox_title {
  position: relative;
  text-align: center;
  padding-top: 11.0625rem; 
  margin-bottom: 0.9375rem;
  margin-left: 2rem; margin-right: 2rem;
  font-size: 2rem; font-weight: 700;
}

.slideBox_contents {
  position: relative;
  width: 75%; min-width: 13.75rem; height: auto;
  margin: auto; margin-bottom: 2.1875rem;
  font-size: 1rem; 
  text-align: center;
}

.slideBox_btn {
  position: relative;
  width: 13.75rem; height: 3.125rem;
  margin: auto;
  border-radius: 0.5rem;
  background-color: #FED56D;
  cursor: pointer;
}

.slideBox_btn:active { box-shadow: inset 0.2rem 0.2rem 0.2rem #555; }

  .slideBox_btn p {
    position: absolute; left: 50%;
    transform: translateX(-50%);
    display: block;
    font-size: 1.375rem; text-align: center;
    font-weight: 700;
  }


/** 좌우 버튼 */
.slideBox_nextbtn { 
  display: block;
  position: absolute; top: 0; right: 0;
  width: 1.5rem; height: 37.5rem;
  background-image: url("../../../img/main_page/01_smartphone/02_slidebox/slidebox_nextbtn.png");
  background-image: url("../../../img/main_page/01_smartphone/02_slidebox/slidebox_nextbtn.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  z-index: 10;
 } 

.slideBox_prevbtn { 
  display: block;
  position: absolute; top: 0; left: 0;
  width: 1.5rem; height: 37.5rem;
  background-image: url("../../../img/main_page/01_smartphone/02_slidebox/slidebox_prevbtn.png");
  background-image: url("../../../img/main_page/01_smartphone/02_slidebox/slidebox_prevbtn.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  z-index: 10;
 }

.slideBox_nextbtn:active {
  background-image: url("../../../img/main_page/01_smartphone/02_slidebox/slidebox_nextbtn_act.png");
  background-image: url("../../../img/main_page/01_smartphone/02_slidebox/slidebox_nextbtn_act.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: inset 0.2rem 0.3rem 0.2rem #777;
  z-index: 10;
}

.slideBox_prevbtn:active {
  background-image: url("../../../img/main_page/01_smartphone/02_slidebox/slidebox_prevbtn_act.png");
  background-image: url("../../../img/main_page/01_smartphone/02_slidebox/slidebox_prevbtn_act.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: inset 0.2rem 0.3rem 0.2rem #777;
  z-index: 10;
}


} /* @media screen and (max-width: 599px) */